.fullscreen {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center {
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    position: absolute;

  top: 48%;
  left: 48%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    color: #000;
}